---
import Button from "./Atoms/Button.astro";
interface Props {
  title: string;
  body: string;
  href: string;
}

const { href, title, body } = Astro.props;
---

<li>
  <Button variant="outline" size="sm"> example button </Button>
</li>
